@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --cor-primaria: #1F6E8C;
    --cor-secundária: #0E2954;
    --cor-destaque: #2E8A99;
    --cor-fundo: #84A7A1;
    --cor-texto: #FFFFFF;

    --fonte-titulo: "Kanit", sans-serif;
    --fonte-texto: "Open Sans", sans-serif;
}

body {
    background-color: var(--cor-texto);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

h1{
    font-family: var(--fonte-titulo);
    font-size: 56px;
    text-align: center;
    margin-top: 30px;
}

h2{
    font-family: var(--fonte-titulo);
    font-size: 42px;
    text-align: center;
    padding: 5px;
}

p {
    font-family: var(--fonte-texto);
}

main{
    margin: 0px auto;
    width: 70%;
    padding-bottom: 30px;
    flex-grow: 1;
}

.container-home{
    max-width: 800px;
}

.cabecalho {
    margin: 0px auto;
    width: 100%;
    background-color: var(--cor-secundária);

}

.cabecalho__navbar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.cabecalho__navbar__link {
    float: center;
    font-family: var(--fonte-titulo);
    transition: 0.2s;
    padding: 10px 15px;
    text-align: center;
}

.active {
    background-color: var(--cor-primaria);
}

.cabecalho__navbar__link a {
    margin: auto;
    color: var(--cor-texto);
    text-decoration: none;
    transition: 0.2s;
    vertical-align: middle;
}

.cabecalho__navbar__link:hover {
    background-color: var(--cor-destaque);
}

.home-container {
    border-style: solid;
    border-width: 5px;
    border-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--cor-fundo);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9));
    border-radius: 50px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    padding: 10px;
    transition: all .2s ease-in-out; 
}

.home-container:hover{
    transform: scale(1.05); 
}

.home-container img {
    width: 35%;
    height: auto;
    margin: 5%;
    border-radius: 20px ;
}

.home-container__texto {
    margin: auto;
    text-align: center;
}

.home-container__texto h2{
    margin-top: 5px;
    color: black;
}
.home-container__texto ul li{
    font-family: var(--fonte-texto);
    margin-top: 10px;
    color: black;
}

.rodape {
    width: 100%;
    background-color: #0E2954;
    padding: 16px;
    color: var(--cor-texto)
}

.rodape p{
    text-align: center;
    padding-bottom: 5px;
    font-family: var(--fonte-texto);
    font-size: smaller;
}

.container-artigo {
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9));
    background-color: var(--cor-fundo);
    max-width: 1000px;
}

.container-artigo h1{
    margin: 5%;
 
}
.secao-artigo{
    /* display: flex;
    flex-direction: row; */
}
.secao-artigo h2{
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
}

.secao-artigo p, .secao-artigo ul, .secao-artigo__referencias, .container-artigo p{
    font-family: var(--fonte-texto);
    padding: 0% 5%;
    margin-top: 10px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5;
}

.formula {
    text-align: center;
    margin: 1%;
}

strong {
    font-weight: bold;
  }

  .container-horizontal {
    display: flex;

  }

  .container-horizontal__imagem {
    max-width: 30%;
    height: auto;
    margin: 5%;
  }